*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
keystore.properties
/app/release/*
.idea/gradle.xml
.idea/misc.xml
.idea/deploymentTargetSelector.xml
.idea/kotlinc.xml
.kotlin/
.vscode/
bin/
